<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a2aae69-5dca-470f-9177-87266890b40f" Alias="test" Level="1">
  <Info>
    <Name>Test</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Test</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a05d61b8-0977-4c66-aaea-2c6f84563aad">Test</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>58e1bdf0-c80b-4b01-9067-8a83ce3d348f</Key>
      <Name>Special hours</Name>
      <Alias>specialHours</Alias>
      <Definition>6646c490-d7d4-4b0d-963d-440929d53ac9</Definition>
      <Type>OpenOrClosed.SpecialHours</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a47d6624-b3c5-4426-bf4b-c9c41ca0323b</Key>
      <Name>Special Hours No Times</Name>
      <Alias>specialHoursNoTimes</Alias>
      <Definition>ea54006b-a59e-4180-9ee1-962b1b90685d</Definition>
      <Type>OpenOrClosed.SpecialHours</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a1ca122-7aa3-441d-bee4-261b646b2a0d</Key>
      <Name>Standard Hours</Name>
      <Alias>standardHours</Alias>
      <Definition>2b61befe-c83f-43ea-9eb9-f1a34375ceb7</Definition>
      <Type>OpenOrClosed.StandardHours</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e06af103-11c7-452a-918b-18e36ec400b3</Key>
      <Name>Standard Hours No Times</Name>
      <Alias>standardHoursNoTimes</Alias>
      <Definition>30bab272-456f-48bf-b8f8-bd9cac0ac78c</Definition>
      <Type>OpenOrClosed.StandardHours</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6917ec1b-2353-4e27-a90a-aa27a217fbc6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>