<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30bab272-456f-48bf-b8f8-bd9cac0ac78c" Alias="Test - Standard Hours No Times - Standard Business Hours Property Editor UI" Level="1">
  <Info>
    <Name>Test - Standard Hours No Times - Standard Business Hours Property Editor UI</Name>
    <EditorAlias>OpenOrClosed.StandardHours</EditorAlias>
    <EditorUIAlias>OpenOrClosed.PropertyEditorUi.StandardHours</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "defaultClose": "17:00",
  "defaultOpen": "09:00",
  "excludeTimes": true,
  "showBankHolidays": false,
  "time_24hr": true
}]]></Config>
</DataType>