<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6646c490-d7d4-4b0d-963d-440929d53ac9" Alias="Test - Special hours - Special Business Hours Property Editor UI" Level="1">
  <Info>
    <Name>Test - Special hours - Special Business Hours Property Editor UI</Name>
    <EditorAlias>OpenOrClosed.SpecialHours</EditorAlias>
    <EditorUIAlias>OpenOrClosed.PropertyEditorUi.SpecialHours</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "closedHoursOptional": false,
  "defaultClose": "17:00",
  "defaultOpen": "09:00",
  "hoursOptional": false,
  "removeOldDates": true,
  "showAppointmentOnly": true,
  "time_24hr": true
}]]></Config>
</DataType>