<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea54006b-a59e-4180-9ee1-962b1b90685d" Alias="Test - Special Hours No Times - Special Business Hours Property Editor UI" Level="1">
  <Info>
    <Name>Test - Special Hours No Times - Special Business Hours Property Editor UI</Name>
    <EditorAlias>OpenOrClosed.SpecialHours</EditorAlias>
    <EditorUIAlias>OpenOrClosed.PropertyEditorUi.SpecialHours</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "defaultClose": "17:00",
  "defaultOpen": "09:00",
  "excludeTimes": true,
  "removeOldDates": true,
  "time_24hr": true
}]]></Config>
</DataType>