<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b61befe-c83f-43ea-9eb9-f1a34375ceb7" Alias="Test - Standard Hours - Standard Business Hours Property Editor UI" Level="1">
  <Info>
    <Name>Test - Standard Hours - Standard Business Hours Property Editor UI</Name>
    <EditorAlias>OpenOrClosed.StandardHours</EditorAlias>
    <EditorUIAlias>OpenOrClosed.PropertyEditorUi.StandardHours</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "closedHoursOptional": false,
  "defaultClose": "14:00",
  "defaultOpen": "09:00",
  "excludeTimes": false,
  "hoursOptional": false,
  "reversed": true,
  "showAppointmentOnly": true,
  "showBankHolidays": true,
  "time_24hr": true
}]]></Config>
</DataType>