<div ng-controller="OpenOrClosed.PropertyEditors.SpecialHours.controller" class="business-hours">
    <ng-form name="datePickerForm">
        <div ng-repeat="d in model.value">
            <div class="row date-row">
                <div id="datepicker_{{model.alias}}_{{$index}}" class="span2">
                    <umb-date-time-picker ng-model="d.date"
                                          options="vm.datePickerConfig"
                                          on-setup="datePickerSetup($index, fpItem)"
                                          on-change="datePickerChange($index, dateStr)">

                        <div class="input-append">
                            <input name="datepicker-{{$index}}"
                                   id="{{model.alias}}_{{$index}}"
                                   type="text"
                                   ng-model="vm.pickers[$index].pickerValue"
                                   ng-blur="dateInputChanged($index)"
                                   ng-required="model.validation.mandaclosesAtry"
                                   val-server="value"
                                   class="datepickerinput" 
                                   autocomplete="off" />
                            <span class="add-on" aria-hidden="true">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>

                    </umb-date-time-picker>

                </div>
                <div class="span1">
                    <umb-toggle checked="d.isOpen" on-click="toggleOpen($index)">
                    </umb-toggle>
                </div>
                <div class="span1">
                    <label ng-show="d.isOpen">Open</label>
                    <label ng-show="!d.isOpen">Closed</label>
                </div>
                <div class="span5" ng-show="d.isOpen">
                    <div ng-repeat="h in d.hoursOfBusiness" class="row">
                        <span id="timepicker_{{model.alias}}_{{$parent.$index}}_{{$index}}_opensAt">
                            <umb-date-time-picker ng-model="h.opensAt"
                                                  options="vm.openTimePickerConfig"
                                                  on-setup="timePickerSetup($parent.$index, $index, 'opensAt', fpItem)"
                                                  on-change="timePickerChange($parent.$index, $index, 'opensAt', dateStr)">
                                <span class="input-append">
                                    <input name="timepicker-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-opensAt"
                                           id="{{model.alias}}_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}_opensAt"
                                           type="text"
                                           ng-model="vm.pickers[$parent.$parent.$parent.$index].hours[$parent.$parent.$index].opensAt.pickerValue"
                                           ng-blur="timeInputChanged($parent.$parent.$parent.$index, $parent.$parent.$index, 'opensAt')"
                                           ng-required="true"
                                           val-server="value"
                                           class="datepickerinput"
                                           autocomplete="off" />
                                    <span class="add-on" aria-hidden="true">
                                        <i class="icon-time"></i>
                                    </span>
                                </span>
                            </umb-date-time-picker>
                        </span>

                        <label> to </label>
                        <span id="timepicker_{{model.alias}}_{{$parent.$index}}_{{$index}}_closesAt">
                            <umb-date-time-picker ng-model="h.closesAt"
                                                  options="vm.closeTimePickerConfig"
                                                  on-setup="timePickerSetup($parent.$index, $index, 'closesAt', fpItem)"
                                                  on-change="timePickerChange($parent.$index, $index, 'closesAt', dateStr)">
                                <span class="input-append">
                                    <input name="timepicker-{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-closesAt"
                                           id="{{model.alias}}_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}_closesAt"
                                           type="text"
                                           ng-model="vm.pickers[$parent.$parent.$parent.$index].hours[$parent.$parent.$index].closesAt.pickerValue"
                                           ng-blur="timeInputChanged($parent.$parent.$parent.$index, $parent.$parent.$index, 'closesAt')"
                                           ng-required="true"
                                           val-server="value"
                                           class="datepickerinput"
                                           autocomplete="off" />
                                    <span class="add-on" aria-hidden="true">
                                        <i class="icon-time"></i>
                                    </span>
                                </span>
                            </umb-date-time-picker>
                        </span>

                        <button type="button" class="umb-node-preview__action umb-node-preview__action--red ng-scope"
                                title="Remove Hours"
                                ng-click="deleteHours($index, $parent.$index)">
                            <localize key="content_deleteHours">Remove hours</localize>
                        </button>

                        <div ng-show="model.config.appointmentOnlyBoolean">
                            <label>Appointment only</label>
                            <umb-toggle checked="h.byAppointmentOnly" on-click="toggleByAppointmentOnly(h)">
                            </umb-toggle>
                        </div>
                    </div>
                    <button type="button" class="umb-node-preview-add mb3" ng-click="addHours($index)">
                        <localize key="content_addHours">Add hours</localize>
                    </button>
                </div>
                <button type="button" class="umb-node-preview__action umb-node-preview__action--red ng-scope"
                        title="Remove Date"
                        ng-click="deleteDate($index)">
                    <localize key="content_deleteDate">Remove date</localize>
                </button>
                <hr />
            </div>
        </div>
        <button type="button" class="umb-node-preview-add mb3" ng-click="addDate()">
            <localize key="content_addDate">Add date</localize>
        </button>
    </ng-form>
</div>