<div class="umb-property-editor umb-datepicker" ng-controller="OpenOrClosed.PropertyEditors.TimePicker.controller">

    <ng-form name="timePickerForm">

        <div id="timepicker{{model.alias}}">

            <umb-date-time-picker ng-model="model.value"
                                  options="timePickerConfig"
                                  on-setup="timePickerSetup(fpItem)"
                                  on-change="timePickerChange(dateStr)">

                <div class="input-append">
                    <input name="timepicker"
                           id="{{model.alias}}"
                           type="text"
                           ng-model="model.datetimePickerValue"
                           ng-blur="inputChanged()"
                           ng-required="model.validation.mandatory"
                           val-server="value"
                           class="datepickerinput">
                    <button type="button" class="on-top" ng-click="clearDate()" ng-show="hasDatetimePickerValue === true || timePickerForm.timepicker.$error.pickerError === true">
                        <i class="icon-delete" aria-hidden="true"></i>
                        <span class="sr-only"><localize key="content_removeDate">Clear time</localize></span>
                    </button>
                    <span class="add-on" aria-hidden="true">
                        <i class="icon-time"></i>
                    </span>
                </div>

            </umb-date-time-picker>

        </div>

        <div ng-messages="timePickerForm.datepicker.$error" show-validation-on-submit>
            <p class="help-inline" ng-message="required">{{mandatoryMessage}}</p>
            <p class="help-inline" ng-message="valServer">{{timePickerForm.timepicker.errorMsg}}</p>
            <p class="help-inline" ng-message="pickerError"><localize key="validation_invalidTime">Invalid time</localize></p>
        </div>
    </ng-form>
</div>
