<div class="umb-property-editor umb-datepicker" ng-controller="OpenOrClosed.PropertyEditors.TimePickerController">

    <ng-form name="timePickerForm">

        <div id="timepicker{{model.alias}}">

            <umb-date-time-picker ng-model="model.value"
                                  options="timePickerConfig"
                                  on-setup="timePickerSetup(fpItem)"
                                  on-change="timePickerChange(dateStr)">

                <div class="input-append">
                    <input type="text"
                           name="timepicker"
                           id="{{model.alias}}"
                           ng-model="model.datetimePickerValue"
                           ng-blur="inputChanged()"
                           ng-required="model.validation.mandatory"
                           val-server="value"
                           class="datepickerinput"
                           ng-readonly="readonly" />
                    <button ng-if="!readonly" type="button" class="btn-clear" ng-click="clearDate()" ng-show="hasDatetimePickerValue === true || datePickerForm.datepicker.$error.pickerError === true">
                        <umb-icon icon="icon-delete"></umb-icon>
                        <span class="sr-only"><localize key="content_clearTime">Clear time</localize></span>
                    </button>
                    <span ng-if="!readonly" class="add-on">
                        <umb-icon icon="icon-time"></umb-icon>
                    </span>
                </div>

            </umb-date-time-picker>

        </div>

        <div ng-messages="timePickerForm.datepicker.$error" show-validation-on-submit>
            <p class="help-inline" ng-message="required">{{mandatoryMessage}}</p>
            <p class="help-inline" ng-message="valServer">{{timePickerForm.timepicker.errorMsg}}</p>
            <p class="help-inline" ng-message="pickerError"><localize key="validation_invalidTime">Invalid time</localize></p>
        </div>
    </ng-form>
</div>
