<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d26c47d-021c-47f4-9b73-db560d3816c3" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-07-03T01:04:08</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a05d61b8-0977-4c66-aaea-2c6f84563aad">Test</Template>
  </Info>
  <Properties>
    <specialHours>
      <Value><![CDATA[[
  {
    "date": "2025-07-04",
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00",
        "closesAt": "15:00",
        "comment": "test comment",
        "byAppointmentOnly": false
      },
      {
        "opensAt": "15:30",
        "closesAt": "17:00",
        "comment": "test two",
        "byAppointmentOnly": false
      }
    ]
  }
]]]></Value>
    </specialHours>
    <specialHoursNoTimes>
      <Value><![CDATA[[
  {
    "date": "2025-07-05",
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": null,
        "closesAt": null,
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  }
]]]></Value>
    </specialHoursNoTimes>
    <standardHours>
      <Value><![CDATA[[
  {
    "dayoftheweek": "Monday",
    "day": 1,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "10:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Tuesday",
    "day": 2,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "00:00",
        "closesAt": "00:01",
        "comment": "",
        "byAppointmentOnly": false
      },
      {
        "opensAt": "00:01:00",
        "closesAt": "00:02",
        "comment": "",
        "byAppointmentOnly": true
      }
    ]
  },
  {
    "dayoftheweek": "Wednesday",
    "day": 3,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "14:00:00",
        "comment": "",
        "byAppointmentOnly": false
      },
      {
        "opensAt": "14:01:00",
        "closesAt": "15:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Thursday",
    "day": 4,
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "14:00:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Friday",
    "day": 5,
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "14:00:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Saturday",
    "day": 6,
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "14:00:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Sunday",
    "day": 0,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": "09:00:00",
        "closesAt": "14:00:00",
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Bank Holidays",
    "day": null,
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": null,
        "closesAt": null,
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  }
]]]></Value>
    </standardHours>
    <standardHoursNoTimes>
      <Value><![CDATA[[
  {
    "dayoftheweek": "Monday",
    "day": 1,
    "isOpen": true,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": [
      {
        "opensAt": null,
        "closesAt": null,
        "comment": "",
        "byAppointmentOnly": false
      }
    ]
  },
  {
    "dayoftheweek": "Tuesday",
    "day": 2,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  },
  {
    "dayoftheweek": "Wednesday",
    "day": 3,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  },
  {
    "dayoftheweek": "Thursday",
    "day": 4,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  },
  {
    "dayoftheweek": "Friday",
    "day": 5,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  },
  {
    "dayoftheweek": "Saturday",
    "day": 6,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  },
  {
    "dayoftheweek": "Sunday",
    "day": 0,
    "isOpen": false,
    "openComment": "",
    "closedComment": "",
    "hoursOfBusiness": []
  }
]]]></Value>
    </standardHoursNoTimes>
  </Properties>
</Content>